<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  </head>
  <body data-current-user-id="{{ profile.id|default('') }}" data-current-username="{{ profile.username }}">
    <header>
      <h1>Photo App</h1>
      <nav>
        <p>{{ profile.username }}</p>
        <a href="{{ url_for('login_page') }}" style="text-decoration: none;">Login</a>
        <a href="{{ url_for('register_page') }}" style="text-decoration: none;">Register</a>
        <a href="{{ url_for('logout') }}" style="text-decoration: none;">Logout</a>
        <a href="{{ url_for('docs') }}" style="text-decoration: none;">API Docs</a>
      </nav>
    </header>

    <!-- recommendation panel -->
    <div class="recommendationPanel">
      <div class="profile">
        <img src="{{ profile.thumb_url or profile.image_url }}" alt="profile_img" />
        <p id="profileName">{{ profile.username }}</p>
      </div>
      <div class="suggestions">
        <p id="suggestionsforyou">suggestions for you</p>
        {% for suggestion in suggestions %}
        <div class="suggestedAccount">
          <img src="{{ suggestion.thumb_url or suggestion.image_url }}" alt="profile_img" />
          <div class="nameBox">
            <p class="suggestedPeople">{{ suggestion.username }}</p>
            <p class="suggestWord">suggested for you</p>
          </div>
          <a class="followLink" href="https://www.google.com">follow</a>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- story panel -->
    <div class="storyPanel">
      {% for story in stories %}
      <div class="story">
        <img src="{{ story.user.thumb_url or story.user.image_url }}" alt="pic"/>
        <p>{{ story.user.username }}</p>
      </div>
      {% endfor %}
    </div>

    <!-- card panel -->
    <div class="cardPanel">
      {% for post in posts %}
      <div class="card" data-post-id="{{ post.id|default('') }}">
        <!-- post header -->
        <div class="postHeader">
          <div class="postUser">{{ post.user.username }}</div>
          <div><em class="fas fa-ellipsis-h"></em></div>
        </div>
        <div class="postPic">
          <img src="{{ post.image_url }}" alt="postPic"/>
        </div>
        <!-- post content -->
        <div class="postContent">
          <div class="icons">
            <div class="threeIcons">
              <em class="far fa-heart"></em>
              <em class="far fa-comment"></em>
              <em class="far fa-paper-plane"></em>
            </div>
            <div>
              <em class="far fa-bookmark"></em>
            </div>
          </div>
          <p><strong>{{ post.like_count }} Likes</strong></p>
          <div class="realContent">
            <p class="postUser"><strong>{{ post.user.username }}</strong></p>
            <p>{{ post.caption }}</p>
            <a href="https://www.google.com" style="text-decoration: none;">more</a>
          </div>
          <!-- comments -->
          <div class="comments">
            {% for comment in post.comments[:2] %}
            <div class="comment">
              <p class="postUser"><strong>{{ comment.user.username }}</strong></p>
              <p>{{ comment.text }}</p>
            </div>
            {% endfor %}
            <div class="postTime" style="color: darkgrey;font: 0.9em sans-serif;">{{ post.display_time }}</div>
          </div>
          <!-- add comment -->
          <div class="addCommentSection">
            <div class="addComment">
              <em class="far fa-smile"></em>
              <input placeholder="Add a comment"/>
            </div>
            <a class="postCommentButton" href="https://www.google.com" style="text-decoration: none">Post</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
